.header {
  background-color: var(--wight);
  padding: 10px 15px;
  @media screen and (min-width:768px) {
  padding: 15px 21px;}
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
}
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  color: #000000;
}

.header__nav {
  @media screen and (max-width:767px) {
display: none;}
  display: flex;
  gap: 50px;
  @media screen and (min-width:768px) {
    margin-left: 88px;
  }
  @media screen and (min-width:1200px) {
    margin-left: 93px;
  }
  }

.header__nav .header__link {
  position: relative;
}

.header__link.current {
  @media screen and (max-width:767px) {
display: none;}
  color: var(--blue);
  &::after {
    position: absolute;
    bottom: -30px;
    @media screen and (min-width:1200px) {
      bottom: -34px; 
    }

    right: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
  }
}
.header__contacts {
  @media screen and (max-width:767px) {
 display: none;}
  display: flex;
  
  margin-left: auto;
  @media screen and (min-width:768px) {
    flex-direction: column;
    gap: 10px;}
    @media screen and (min-width:1200px) {
      gap: 50px;
      flex-direction:row;
    }
}
.header__link,
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
  &:hover,
  :focus,
  :active {
    color: var(--blue);
  }
}
.header__link {
  color: var(--mt-color);
}
.header__contact {
  color: var(--nt-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__icon {
  fill: currentColor;
}
.mob-menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--wight);
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;

}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu-open{
  @media screen and (min-width:767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
}
.menu-open,
.menu-close {
  display: block;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--wight);
  color:var(--mt-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--blue);
  }

}
.menu-close-icon{
  @media screen and (min-width:767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
}
.menu-close-icon,
.menu-open-icon{
  fill: currentColor;
}

.menu-list-item {
  margin-bottom: 32px;
  &:last-child{margin-bottom: 306px;}
}
.menu-link {
  font-weight: 500;
font-size: 40px;
line-height: calc(47 / 40);
letter-spacing: 0.02em;
color: var(--mt-color);
transition: color 250ms var(--timing-function);
&:hover,
  &:focus {
    color: var(--blue);
  }

}
.menu-contact-item{
  margin-bottom: 32px;
  &:last-child{margin-bottom: 64pxpx;}
}
.menu-contact-tel {
  font-weight: 500;
  font-size: 28px;
line-height: calc(34 / 28);
  @media screen and (min-width:480px) {
font-size: 34px;
line-height: calc(40 / 34);}
letter-spacing: 0.02em;
color:var(--blue);

}
.menu-contact {
  font-weight: 500;
font-size: 24px;
line-height: calc(28 / 26);
letter-spacing: 0.02em;
color: var(--nt-color);

}
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (max-width:479px) {
    width: calc((100% - 20px)/ 2);
  }
}

.mob-soc-link {
  font-weight: 500;
font-size: 18px;
line-height: calc(22 / 18);
letter-spacing: 0.02em;
color: var(--blue);
}