:root{
    --gray-dark:#2F303A;
    --gray-light:#F5F4FA;
    --wight:white;
    --mt-color:#212121;
    --nt-color:#757575;
    --blue:#2196F3;
    --akcent: #188CE8;
    --icon1:#AFB1B8;
    --ft-color:rgba(255, 255, 255, 0.6);
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}
